@import "tailwindcss";

@layer utilities{
    .link:hover{
        box-shadow: 0 30px 60px -15px rgba(0, 0, 0, 0.3);
        transform: scale(105%);
    }
    .edit-btn:hover{
background-color: #1447eb;
    }
    .delete-btn:hover{
background-color: #e5e7eb;
    }
    .complete-btn:hover{
background-color: oklch(52.7% 0.154 150.069);
    }
    .hover-green:hover {
        background-color: #f0fdf4; 
        color: #16a34a;
      }
    
      .hover-yellow:hover {
        background-color: #fefce8;
      }
    
      .hover-blue:hover {
        background-color: #eff6ff;
      }
}